%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %script{:type => 'text/javascript', :src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:type => 'text/javascript', :src => "application.js"}
    %title rber
  %body
    = yield